/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html {
  font-size: 100%; // 16px by default, but scales with user preferences
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--font-size-sm);
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: var(--color-text-primary);
  text-decoration: underline;
  text-decoration-color: var(--color-border-medium);
  text-underline-offset: 2px;
  transition: color 0.25s ease, text-decoration-color 0.25s ease;

  &:visited {
    color: var(--color-text-primary);
    text-decoration-color: var(--color-border-medium);
  }

  &:hover {
    color: var(--color-text-primary);
    text-decoration-color: var(--color-text-primary);
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--color-text-muted);
  border-left: 4px solid var(--color-border-light);
  padding-left: $spacing-unit / 2;
  font-size: var(--font-size-base);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-border-light);
  background-color: var(--color-code-bg);
}

code {
  padding: 1px 5px;
}

pre {
  padding: $spacing-sm $spacing-md / 2;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - #{$spacing-unit});
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: var(--color-text-muted);
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: var(--color-text-secondary);
  border-collapse: collapse;
  border: 1px solid var(--color-border-light);
  
  tr {
    &:nth-child(even) {
      background-color: var(--color-table-stripe);
    }
  }
  
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  
  th {
    background-color: var(--color-table-header-bg);
    border: 1px solid var(--color-border-medium);
    border-bottom-color: var(--color-border-dark);
  }
  
  td {
    border: 1px solid var(--color-border-light);
  }
}
